body {
  background-color: white;
}

h1 {
  text-align: center;
}

.head1 {
  background-color: aqua;
}
#head2 {
  background-color: red;
  color: white;
}
/* style.css */
div {
  background-color: antiquewhite;
  padding: 20px;
}

h1 {
  background-color: blue;
  color: white;
}

a + a {
  background-color: red;
}
body {
  padding: 20px;
}

header {
  background-color: rgb(0, 22, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.content {
  background: #9af7ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  background: #184282;
  color: white;
  padding: 10px;
}

.bold {
  text-transform: uppercase;
  font-weight: 900;
  color: yellow;
}
div a {
  background-color: antiquewhite;
  padding: 20px;
}

a > h1 {
  background-color: darkblue;
  color: white;
}

a + a {
  background-color: red;
}

/* Visibility property */
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/* Opacity */
.op_1 {
  opacity: 1;
}

.op_0 {
  opacity: 0;
}

.op_05 {
  opacity: 0.5;
}

/* Display */
.none {
  display: none;
  font-weight: bold;
}

.inline {
  display: inline;
  font-weight: bold;
}

.block {
  display: block;
  font-weight: bold;
}

h3 {
  background-color: aquamarine;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}


.nav {
  background-color: rgb(253, 185, 185);
  height: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
 

.banner {
  background-color: aqua; 
  height: 200px;
}


.content {
  background-color: rgb(246, 213, 213);
  height: 400px;
}

.footer {
  background-color: rgb(37, 27, 27);
  height: 20px;
  height: 100px;

}


img {
  width: 100%;

  filter: grayscale(100%) invert(100%);
}